# Git ignore
.ipynb_checkpoints

slurm*.out

dask-worker-space/**

**/__pycache__/**
**/.ipynb_checkpoints/

Common/.ipynb_checkpoints/*
Common/__pycache__/*
CESM2_COSP/dask-worker-space/
Common/__pycache__/
Common/.ipynb_checkpoints/
